/* BACK UP */
/* OrdreCriee.css */

.ordre-image {
    max-width: 90%;
    max-height: 100vh;
    display: block;
    margin: 0 auto;
  }

.affichageTable{
  display: flex;
  justify-content: center;
  border: solid;
  width: 90%;
  flex-direction: column; /* Ajoutez cette ligne pour afficher le contenu en colonne */
  text-align: center;
}

/* Style pour le titre */
.titleTable {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3%; /* Ajoute une marge en bas du titre */
  color: white

}

.colGauche{
}

.colDroite{
  width: 24%;
}

td{
  font-size: 100%;
  color: whitesmoke;
}

th{
  font-size: 24px;
  color:green;
  padding-bottom: 15px;
}

.totalTxt{
  font-size: 150%;
}

.totalTxt2{
  font-size: 130%;
  width: 24%;
}

.affichageDoubleCotiere{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tablesGauche {
  width: 50%; /* Réglez la largeur comme vous le souhaitez */
  flex: 1;
}

.tablesDroite {
  width: 50%; /* Réglez la largeur comme vous le souhaitez */
  flex: 1; /* Permet de prendre automatiquement toutes la hauteur du containeur disponible*/
  max-height: 70vh; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Ajoutez le débordement automatique si nécessaire */
}

.delimiter {
  margin-top: 1%; /* Espace en haut */
  margin-bottom: 1%; /* Espace en bas */
  border: none; /* Pour supprimer la ligne horizontale par défaut */
  border-top: 1px solid #000; /* Ajoutez une ligne horizontale personnalisée */
}
.titleCotiere{
 font-size: 45px; 
}
.adjustementTable{
  margin-bottom: 40px;
}

.especeTotal{
  font-size: 22px;
}

.totalEspece{
  font-size: 22px;
}

.tableTirage{
  width: 100%;
}

.tableTirage2{
  width:100%;
  display:ruby
}

.containeurBas{
  width: 100%;
  display: flex;
}

.tablesContainer{
  display: flex;
  width: 100%;
  height: 100%;
}

.ligneAffichageCot2{

}
