/* OrdreCriee.css */

.ordre-image {
    max-width: 90%;
    max-height: 100vh;
    display: block;
    margin: 0 auto;
  }

.container-ordre-criee{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.affichageTable{
  display: flex;
  justify-content: center;
  border: solid;
  width: 90%;
  flex-direction: column; /* Ajoutez cette ligne pour afficher le contenu en colonne */
  text-align: center;
}

/* Style pour le titre */
.titleTable {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 3%; /* Ajoute une marge en bas du titre */
  color: black;

}

.colGauche{
  color: black;
}

.colDroite{
  width: 24%;
  color: black;
}



.subTitle{
  font-size: 160%;
  color:green;
  padding-bottom: 15px;
}

.totalTxt{
  font-size: 180%;
  color: black;
  text-align: center ;
  vertical-align: middle;
  margin-bottom: 2%;
}

.totalTxt2{
  font-size: 180%;
  width: 24%;
}

.affichageDoubleCotiere{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tablesGauche {
  width: 50%; /* Réglez la largeur comme vous le souhaitez */
  flex: 1;
  margin-bottom: 3%;
}

.tablesDroite {
  width: 50%; /* Réglez la largeur comme vous le souhaitez */
  flex: 1; /* Permet de prendre automatiquement toutes la hauteur du containeur disponible*/
  max-height: 70vh; /* Ajustez la hauteur maximale selon vos besoins */
  overflow-y: auto; /* Ajoutez le débordement automatique si nécessaire */
  margin-bottom: 3%;
}

.resumeGauche {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  width: 50%;
}

.resumeDroite {
  border-top: 2px solid #000;
  width: 50%;
}

.titleCotiere{
 font-size: 280%; 
 color: green;
 margin-bottom: 4%;
}
.adjustementTable{
  margin-bottom: 40px;
}

.especeTotal{
  font-size: 140%;
  width: 20%;
}

.totalEspece{
  font-size: 140%;
}

.tableTirage{
  width: 100%;
  border-right: 2px solid #000;
}

.tableTirage2{
  width:100%;
  display:ruby;
  margin-bottom: 15%;
}

.tableTirage3{
  width: 100%;
}

.tableTirage4{
  width: 100%;
}

.containeurBas{
  width: 100%;
  display: flex;
}

.tablesContainer{
  display: flex;
  width: 100%;
  height: 100%;
}

.ligneAffichageCot2{

}
.testDivCot{
  display: flex;
}

.testTHEAD{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infPart1Cot{
  border-top: 2px solid #000;
  margin-top: 2%;
}
