.Meteo{
    background-color: black;
    height: 100%;
    width: 100%;
}


.division-3-1{
    height: 40%;
    color: black;
}
.division-3-2{
    height: 40%;
    color: black;
    margin-top: 80px !important ;
}
.division-3-3{
    height: 60%;
    color: black;

}


.meteo-container {
    max-width: 100vw !important;
    min-height: 80vh !important;
    text-align: center;
    width: 100%;
    height: 105%;
    background-color: #F5F5F5;
}

.title-sec{
    text-align: center;
}

.title{
    height:20%
}

.title-meteo{
    margin-top: -20px;
    font-size: 45px;
    color: var(--primary-color);
}

.title-sect{
    color: var(--primary-color);
}

.first-row {
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
}


.icone-meteo{
    min-width: 150px;
    min-height: 150px;
}

.arrow{
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    
}

  .wind-table th,
  .wind-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
  }

.arrow path{
  fill: black;
}
  .text-meteo-jour{
    font-size: 16px;
  }
  .text-meteo-prevision{
    font-size: 14px;
  }
  .text-date-jour{
    font-size: 22px ;
  }
